.container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}

.container.show {
  opacity: 1;
  pointer-events: auto;
}

.container.hide {
  opacity: 0;
  pointer-events: none;
}

.Modal {
  background-color: rgb(131, 236, 131);
  height: 400px;
  width: 400px;

  transform: scale(0.8);
  opacity: 0;

  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
}

.container.show .Modal {
  transform: scale(1);
  opacity: 1;
}
