.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.title {
  font-size: 22px;
  margin-bottom: 25px;
}

.section {
  margin-bottom: 20px;
}

.section h4 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #ccc;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  padding: 6px 0;
  cursor: pointer;
  font-size: 14px;
}

.section li:hover {
  color: #4da3ff;
}
